<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head::head}"></head>

<body class="hold-transition skin-blue sidebar-mini">

  <!--ALERT-->
  <div th:if="${successMessage}" class="alert alert-success alert-dismissible auto-close-alert">
    <button type="button" class="close" data-dismiss="alert auto-close-alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> <span th:text="${successMessage}"></span></h4>
    Success
  </div>

  <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible auto-close-alert text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span th:text="${errorMessage}"></span></h4>
    Kiểm tra lại thông tin của sản phẩm!
  </div>

<!-- Site wrapper -->
<div class="wrapper">

  <header th:replace="~{admin/fragments/header::header}"></header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <div th:replace="~{admin/fragments/sidebar::sidebar}"></div>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Thêm mới sản phẩm
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

<!--      <div class="col-md-6">-->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> Form</h3>
            </div>
            <!-- enctype="multipart/form-data" de co the truyen @RequestParam name"fileImage" vao Controller -->
            <form class="form-horizontal" method="post" th:action="@{/admin/add-book}" th:object="${bookDetails}" enctype="multipart/form-data">
              <div class="box-body">
                <input class="form-control" type="hidden" th:value="${customUserDetails.user.id}" id="user.id" name="user.id" />
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Book Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="" th:field="*{bookName}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="" th:field="${bookDetails.price}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword4" class="col-sm-2 control-label">Author</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword4" placeholder="" th:field="*{author}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword4" class="col-sm-2 control-label">Category</label>
                  <div class="col-sm-10">
                    <select class="form-control" th:field="${bookDetails.category.id}">
                      <option th:each="category:${categoryList}"
                              th:value="${category.id}"
                              th:text="${category.categoryName}">
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputFile" class="col-sm-2 control-label">Image</label>
                  <div class="col-sm-10">
                    <!--Quan trong: trong Controller se nhan @RequestParam co name="fileImage"  -->
                    <input type="file" id="exampleInputFile" accept="image/*" name="fileImage">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword4" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" checked="" th:field="*{status}">
                          Active
                        </label>
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" th:field="*{status}">
                          Hidden
                        </label>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <!-- Lam the nao de luu tru: dinh dang, image, ... -->
                    <textarea name="content" id="content" rows="10" cols="80" th:field="*{description}">
                </textarea>
                  </div>
                </div>

              </div>

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </div>

            </form>
          </div>
    </section>
  </div>
  <footer th:replace="~{admin/fragments/footer::footer}"></footer>
</div>
<script th:replace="~{admin/fragments/script::script}"></script>

  <script>
    // Hiển thị thông báo và tự động đóng
    $(document).ready(function () {
      $(".auto-close-alert").each(function () {
        var timeout = $(this).data("timeout") || 2000; // Thời gian tính bằng mili giây (3 giây mặc định)
        $(this).fadeIn();
        var currentAlert = $(this);
        window.setTimeout(function () {
          currentAlert.fadeOut();
        }, timeout);
      });
    });
  </script>
</body>
</html>
