<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org">
<title>My Account</title>
<head th:replace="~{/user/fragments/head::head}"></head>
<head>
    <style>
        .mg-l {
            margin-left: 250px; /* Đặt giá trị lề trái mong muốn, ví dụ: 20px */
        }
    </style>
</head>
<body>

<!--ALERT-->
<div th:if="${successMessage}" class="alert alert-success alert-dismissible auto-close-alert text-center">
    <!--  <button type="button" class="close" data-dismiss="alert auto-close-alert" aria-hidden="true">×</button>-->
    <h4><i class="icon fa fa-check"></i> <span th:text="${successMessage}"></span></h4>
    Success
</div>

<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible auto-close-alert text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span th:text="${errorMessage}"></span></h4>
    !
</div>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <header th:replace="~{/user/fragments/header::header}"></header>
    <!-- //Header -->
    <!-- Start Search Popup -->
    <div th:replace="~{/user/fragments/search::search}"></div>
    <!-- End Search Popup -->
    <!-- Start breadcrumb area -->
    <div class="ht__breadcrumb__area bg-image--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__inner text-center">
                        <h2 class="breadcrumb-title text-black">My Account</h2>
                        <nav class="breadcrumb-content">
                            <a class="breadcrumb_item text-black" th:href="@{/home}">Home</a>
                            <span class="brd-separator text-black">/</span>
                            <span class="breadcrumb_item active">My Account</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb area -->
    <!-- Start My Account Area -->
    <section class="my_account_area pt--80 pb--55 bg--white">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="my__account__wrapper mg-l">
                        <h3 class="account__title">Account</h3>
                        <form method="post" th:action="@{/user/update-account}" th:object="${user}" enctype="multipart/form-data">
                            <div class="account__form">
                                <input type="hidden" class="form-control" id="id" th:field="${user.id}">
<!--                                <input type="hidden" class="form-control" id="image" name="image" th:value="${user.image}">-->
                                <input type="hidden" class="form-control" id="enabled" th:field="${user.enabled}">
                                <input type="hidden" class="form-control" id="password" th:field="${user.password}">
                                <input type="hidden" class="form-control" id="username" th:field="${user.userName}">
                                <div class="input__box">
                                    <label>Full name <span>*</span></label>
                                    <input type="text" required id="fullName" th:field="${user.fullName}">
                                </div>
                                <div class="input__box">
                                    <label>Email address <span>*</span></label>
                                    <input type="email" id="email" th:field="${user.email}" required>
                                </div>
                                <div class="input__box">
                                    <label>Phone number <span>*</span></label>
                                    <input type="number" id="phoneNumber" th:field="${user.phoneNumber}" required>
                                </div>
                                <div class="input__box">
                                    <label>Address <span>*</span></label>
                                    <input type="text" id="address" th:field="${user.address}" required>
                                </div>
                                <div class="input__box">
                                    <label>New password</label>
                                    <input type="password" name="newPassword">
                                </div>
                                <div class="input__box">
                                    <label>Confirm password<span>*</span></label>
                                    <input type="password" name="oldPassword" required>
                                </div>
                                <div class="form__btn">
                                    <button>Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End My Account Area -->
    <!-- Footer Area -->
    <footer th:replace="~{/user/fragments/footer::footer}"></footer>
    <!-- //Footer Area -->

</div>
<!-- //Main wrapper -->

<script th:replace="~{/user/fragments/script::script}"></script>

</body>
</html>