<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head::head}"></head>
<body class="hold-transition skin-blue sidebar-mini">

<!--ALERT-->
<div th:if="${successMessage}" class="alert alert-success alert-dismissible auto-close-alert">
    <button type="button" class="close" data-dismiss="alert auto-close-alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> <span th:text="${successMessage}"></span></h4>
    Success
</div>

<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible auto-close-alert text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span th:text="${errorMessage}"></span></h4>
    Kiểm tra lại thông tin!
</div>


<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="~{admin/fragments/header::header}"></header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/fragments/sidebar::sidebar}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Thêm mới danh mục
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

<!--            <section>-->
                <div class="box box-primary">
                    <form role="form" method="post" th:action="@{/admin/add-category}" th:object="${category}">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Category Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name" th:field="*{categoryName}">
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" th:field="${category.categoryStatus}" checked>
                                        Active
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" th:field="*{categoryStatus}">
                                        Hidden
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
<!--            </section>-->
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="~{admin/fragments/footer::footer}"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:replace="~{admin/fragments/script::script}"></script>
<script>
    // Hiển thị thông báo và tự động đóng
    $(document).ready(function () {
        $(".auto-close-alert").each(function () {
            var timeout = $(this).data("timeout") || 2000; // Thời gian tính bằng mili giây (3 giây mặc định)
            $(this).fadeIn();
            var currentAlert = $(this);
            window.setTimeout(function () {
                currentAlert.fadeOut();
            }, timeout);
        });
    });
</script>
</body>
</html>
