<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head::head}"></head>
<body class="hold-transition skin-blue sidebar-mini">

<!--ALERT-->
<div th:if="${successMessage}" class="alert alert-success alert-dismissible auto-close-alert">
    <button type="button" class="close" data-dismiss="alert auto-close-alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> <span th:text="${successMessage}"></span></h4>
    Success
</div>

<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible auto-close-alert text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span th:text="${errorMessage}"></span></h4>
    Kiểm tra lại thông tin của sản phẩm!
</div>

<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="~{admin/fragments/header::header}"></header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/fragments/sidebar::sidebar}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Danh sách đơn hàng
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-body">

                    <form th:action="@{/admin/orders}" method="get">
                        <div class="box-tools pull-right margin-bottom">
                            <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                                <!--                                            'categoryId='+(categoryId!=null?categoryId:'')+'&orderBy='+(orderBy!=null&&orderBy!=''?orderBy:'')+'&keyword'-->
<!--                                <input th:if="${categoryId!=null}" type="hidden" name="categoryId" th:value="${categoryId}">-->
                                <input type="text" name="keyword" class="form-control pull-right" placeholder="Search" th:value="${keyword}">
<!--                                <input th:if="${orderBy!=null&&orderBy!=''}" type="hidden" name="orderBy" th:value="${orderBy}">-->
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered">
                        <tbody><tr>
                            <th>Customer's Name</th>
                            <th>Order Code</th>
                            <th>Note</th>
                            <th>Total Price</th>
                            <th>Address</th>
                            <th>Ordering Time</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="order:${orders}">
                            <td th:text="${order.fullName}"></td>
                            <td><a th:href="@{/admin/order-details/{id}(id=${order.id})}" th:text="${order.orderId}"></a></td>
                            <td th:text="${order.note}"></td>
                            <td th:text="${order.orderTotal}"></td>
                            <td th:text="${order.address}"></td>
                            <td th:text="${order.date}"></td>
                            <td>
                                <a class="btn btn-danger" onclick="return confirm('Bạn chắc chắn?')" th:href="@{/admin/delete-order/{id}(id=${order.id})}">Delete</a>
                            </td>
                        </tr>

                        </tbody></table>

                </div>

                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li th:if="${currentPage>1}">
                            <a th:href="@{'/admin/orders?'+${categoryId!=null?'categoryId='+categoryId+'&':''}+${keyword != null && keyword != '' ? 'keyword='+keyword+'&' : ''} +${orderBy!=null?'orderBy='+orderBy+'&':''}+ 'pageNo='+${currentPage -1}}">«</a>
                        </li>
                        <li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage==i ? 'active':''}"><a th:href="@{'/admin/orders?'+${categoryId!=null?'categoryId='+categoryId+'&':''}+${keyword != null && keyword != '' ? 'keyword='+keyword+'&' : ''} +${orderBy!=null?'orderBy='+orderBy+'&':''}+ 'pageNo='+${i}}" th:text="${i}"></a></li>
                        <li th:if="${currentPage<totalPage}">
                            <a th:href="@{'/admin/orders?'+${categoryId!=null?'categoryId='+categoryId+'&':''}+${keyword != null && keyword != '' ? 'keyword='+keyword+'&' : ''} +${orderBy!=null?'orderBy='+orderBy+'&':''}+ 'pageNo='+${currentPage +1}}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="~{admin/fragments/footer::footer}"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:replace="~{admin/fragments/script::script}"></script>
</body>
</html>
