<div th:fragment="script">
    <script th:src="@{/assets-admin/js/jquery.min.js}"></script>
    <script th:src="@{/assets-admin/js/jquery-ui.js}"></script>
    <script th:src="@{/assets-admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets-admin/js/adminlte.min.js}"></script>
    <script th:src="@{/assets-admin/js/dashboard.js}"></script>
    <script th:src="@{/assets-admin/js/function.js}"></script>
    <!--CKEditor-->
    <script>
        ClassicEditor
            .create( document.querySelector( '#content' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</div>