<header id="wn__header" class="header__area header__absolute sticky__header" th:fragment="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <a href="/home">
            <img th:src="@{/assets-user/images/logo/logo.png}" alt="logo images">
          </a>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li class="drop with--one--item"><a href="/home">Home</a></li>
            <li class="drop"><a th:href="@{/grid-shop}">Books</a>
              <div class="megamenu mega02">
                <ul class="item item01">
                  <li class="title">Categories</li>
                  <div class="two-column-list m-lg-4">
                    <li th:each="category:${categoryList}"><a th:href="@{'/grid-shop?categoryId='+${category.id}}" th:text="${category.categoryName}"> </a></li>
                  </div>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="shop-grid.html">Kids</a>
              <div class="megamenu mega02">
                <ul class="item item02">
                  <li class="title">Top Collections</li>
                  <li><a href="shop-grid.html">American Girl</a></li>
                  <li><a href="shop-grid.html">Diary Wimpy Kid</a></li>
                  <li><a href="shop-grid.html">Finding Dory</a></li>
                  <li><a href="shop-grid.html">Harry Potter</a></li>
                  <li><a href="shop-grid.html">Land of Stories</a></li>
                </ul>
                <ul class="item item02">
                  <li class="title">More For Kids</li>
                  <li><a href="shop-grid.html">B&N Educators</a></li>
                  <li><a href="shop-grid.html">B&N Kids' Club</a></li>
                  <li><a href="shop-grid.html">Kids' Music</a></li>
                  <li><a href="shop-grid.html">Toys & Games</a></li>
                  <li><a href="shop-grid.html">Hoodies</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="#">Pages</a>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li><a href="about.html">About Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                </ul>
              </div>
            </li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/user/orders}">Orders</a></li>
          </ul>
        </nav>
      </div>


      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="shop_search box"><a class="search__active" href="#"></a></li>
          <!-- Start Shopping Cart -->
          <li class="shopcart">
            <a th:href="@{/user/cart}"></a>
          </li>
          <!-- End Shopping Cart -->
          <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
            <div class="searchbar__content setting__block">
              <div class="content-inner">
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>My Account</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <div class="setting__menu">
                        <span><a th:href="@{/user/account}">My Account</a></span>
                        <span><a th:href="@{/logon}">Sign In</a></span>
                        <span><a th:href="@{/logout}">Sign Out</a></span>
                        <span><a href="/register">Create An Account</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
<!--            th:text="${customUserDetails.user.fullName}"-->
            <a th:href="@{/user/account}"></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Start Mobile Menu -->
    <div class="row d-none">
      <div class="col-lg-12 d-none">
        <nav class="mobilemenu__nav">
          <ul class="meninmenu">
            <li><a href="index.html">Home</a>
              <ul>
                <li><a href="index.html">Home Style Default</a></li>
                <li><a href="index-2.html">Home Style Two</a></li>
                <li><a href="index-3.html">Home Style Three</a></li>
                <li><a href="index-box.html">Home Box Style</a></li>
              </ul>
            </li>
            <li><a href="#">Pages</a>
              <ul>
                <li><a href="about.html">About Page</a></li>
                <li><a href="portfolio.html">Portfolio</a>
                  <ul>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="portfolio-three-column.html">Portfolio 3 Column</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                  </ul>
                </li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="cart.html">Cart Page</a></li>
                <li><a href="checkout.html">Checkout Page</a></li>
                <li><a href="wishlist.html">Wishlist Page</a></li>
                <li><a href="error404.html">404 Page</a></li>
                <li><a href="faq.html">Faq Page</a></li>
                <li><a href="team.html">Team Page</a></li>
              </ul>
            </li>
            <li><a href="shop-grid.html">Shop</a>
              <ul>
                <li><a href="shop-grid.html">Shop Grid</a></li>
                <li><a href="shop-list.html">Shop List</a></li>
                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                <li><a href="shop-no-sidebar.html">Shop No sidebar</a></li>
                <li><a href="../../single-book.html">Single Product</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a>
              <ul>
                <li><a href="blog.html">Blog Page</a></li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Mobile Menu -->
    <div class="mobile-menu d-block d-lg-none">
    </div>
    <!-- Mobile Menu -->
  </div>
</header>