<div th:fragment="slider" class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
  <!-- Start Single Slide -->
  <div class="slide animation__style10 bg-image--8 fullscreen align__center--left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="slider__content">
            <div class="contentbox">
              <h3>TD-Book</h3>
              <h2>The Best <span>Online</span></h2>
              <h2 class="another">book <span>shop </span></h2>
              <p>TD-Book specifically created for authors and writes to present and sell their
                books online Soufflé tart sweet. </p>
              <a class="shopbtn" href="#">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide -->
  <!-- Start Single Slide -->
  <div class="slide animation__style10 bg-image--9 fullscreen align__center--left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="slider__content">
            <div class="contentbox">
              <h3>TD-Book</h3>
              <h2>The Best <span>Online</span></h2>
              <h2 class="another">book <span>shop </span></h2>
              <p>TD-Book specifically created for authors and writes to present and sell their
                books online Soufflé tart sweet. </p>
              <a class="shopbtn" href="#">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide -->
</div>